#paisaje{
  background-image: url("../img/carousel-bg.jpg");
  background-size: cover;
  background-size: center;
  height: 30em;
}
h1 {
  color: white;
  padding-top: 5%;
}
.portada{
  color: white;
  padding-top: 3%;
}
h2 {
  color: white;
}
#fondo{
  background-image: url("../img/img-divider-placeholder.jpg");
}
#agencia{
  width: 100%;
  height: 30em;
}
.green{
  background-color: #56A958; 
}
img {
    display: block;
    width: 100%;
}

@media all and (max-width: 600px) {
    img {
        display: inline-block;
        width: 50%;
    }
}